@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  /* width: 100%;
  height: 100%; */
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
  overflow-x: hidden;
}

.card-image{
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  background-color: #58BF8E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  /* padding: 10px; */
}

.card-image img{
  width: 40%!important;
  height: 40%!important;
  transform: translateY(7px);
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
}

.card{
  position: relative;
}

.learn-more-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3042;
  color: #E5E5E5;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}


a{
  cursor: pointer!important;
}

.learn-more-btn:hover{
  background-color: #58BF8E;
  color: #E5E5E5;
}

article {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}

/* header */


.navbar .inner__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
} 



.navbar .right {
  justify-self:  right;
}


a.get_started{
  color: #ffffff;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  border: none;
}


a.get_started:hover{
  color: #ffffff;
  background-color: #58bf8df6;
}

.btn-link:hover {
  color: #58BF8E;
}

a:link{
  text-decoration: none;
}


/* .burger {
  display: none;
} */

/* BURGER MENU FOR SMALLER DEVICE */
.burger {
  cursor: pointer;
  /* display: none; */
  /* z-index: 1;   */
}

.burger .line:first-child {
  width: 12px;
}

.burger .line {
  display: block;
  background: #58BF8E;
  height: 2px;
  width: 25px;
  margin: 12px;
  transition: all 0.5s ease-in-out;
}

.burger .blue {
  background: #ffffff;
}

/* sections */

/* utilities */

.inner__container {
  width: 100%;
}

.btn-content {
  padding: .8em 1.6em;
  background: #449342;
  opacity: 0.8;
  box-shadow: 0px 0px 10px rgba(68, 147, 66, 0.25);
  border-radius: 5px;
  border: 1px solid #449342;
  color: #ffffff;
  outline: none !important;
}



/* first section */
.first__section {
  padding-top: 6em;
}


.leading__text {
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  line-height: 64px;
}

.supportn__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

.content__button {
  align-content: center;
}

.content__button .content__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 52px;
  color: #010216;
}

/* second section */
.second__section .vert-text {
  width: 100%;
  padding: 0rem 1.2rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #16172D;
}

.second__section p {
  width: 26em;
  height: 100%;
  margin: 0 auto;
  font-size: 18px;
}

/* third secion */ 
.inner__third-section {
  width: 100%;
  height: 100%;
  padding: 2em 2em 0em 2em;
}

.third__section-img {
  margin-bottom: 3em;
}

.section-content {
  width: 100%;
  height: 100%;
  padding-right: 3em;
}

.card {
  width: 21.625em !important;
  height: 26.69em !important;

  background: #FFFFFF !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
}


/* fourth section */
.fourth__section-content {
  /* margin-bottom: 8em; */
}
.fourth__section  .top__content{
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 3em 0em;
}

.card img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 1em;
}

/* fifth section */

.fifth__section {
  background: #16172D;
  color: #ffffff;
  padding: 4em 0em 2em 0em;
}

.fifth__section .text__lg {
  font-family: Poppins;
  font-style: normal;
  font-size: 2.3em;
  line-height: 55px;
}

.fifth__section .text__sm {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 31px;
}

/* footer */
.footer {
  background: #ffffff;
  padding: 6em 0em 3em 0em;
}

.footer__text-lg {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #010216;
}

.footer__text-sm a{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #010216cc;

}

.footer-1 {
  justify-content: space-between;
}

.form-container {
  background-color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;

  padding: 20px;
  margin: 0px auto;

  box-shadow: 1px 2px 10px #E5E5E5;
}


/* .addapi-logo{
  display: block;
  margin: auto;
} */
.btn-pry {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #58BF8E;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  padding: 10px;
  height: 50px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.btn-pry:hover {
  color: #fff;
  background-color: #58bf8dce;
}

.hide_button {
  display: none;
}

.api_form {
  margin-top: 20px;
}

.form-container h2 {
  font-size: 1.5rem;
  color: #2a3042;
  font-weight: 700;

}



/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .avail{
    margin-left: -10px;
  }
 
}




/*
weird phones like pixel2 iphone 6,7,8 with screen size between 411 and 414

*/

@media (min-width: 411px) and (max-width: 440px) {

  .avail {
    margin-left: 15px;
  }
}