@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-page-color: #FFFFFF;
    --main-font-color: #010216;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: #F5F7F6;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

p {
    margin-bottom: 0;
}



/* header */
/* header */

/* header {
  width: 100%;
  height: 5.7em;
  color: #ffffff;
  background: #010216;
  /* padding: .6em 0em; */
} */

/* .navbar .inner__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}  */
/* 
.navbar .nav__brand {
  
} */

/* .navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  /* padding-left: 3.5rem; */
  width: 100%;
} */

/* .navbar .right {
  justify-self:  right;
} */

/* .navbar ul li {
  margin-left: 2rem;
} */

/* .navbar li a, .btn-link {
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 50px;
  text-decoration: none;
} */

.btn-link:hover {
  color: #58BF8E;
}

a:link{
  text-decoration: none;
}

li a:hover {
  /* color: #ffffff; */
  border-bottom: 2px solid #58BF8E;
  padding-bottom: 0.5rem;
  transition: .3s ease-in-out;
}

.burger {
  display: none;
}

/* BURGER MENU FOR SMALLER DEVICE */
.burger {
  cursor: pointer;
  display: none;
  z-index: 1;  
}

.burger .line:first-child {
  width: 12px;
}

.burger .line {
  display: block;
  background: #58BF8E;
  height: 2px;
  width: 25px;
  margin: 12px;
  transition: all 0.5s ease-in-out;
}

.burger .blue {
  background: #ffffff;
}

/* sections */

/* utilities */

.inner__container {
  width: 100%;
}

.btn-content {
  padding: .8em 1.6em;
  background: #449342;
  opacity: 0.8;
  box-shadow: 0px 0px 10px rgba(68, 147, 66, 0.25);
  border-radius: 5px;
  border: 1px solid #449342;
  color: #ffffff;
  outline: none !important;
}


/* header */



/* Footer */
footer {
    background: var(--main-page-color);
    margin-top: 8px;
}

.signup-footer img {
    padding-left: 40px;
}

.signup-footer p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 40px;
}

.signup-footer a {
    color: var(--main-font-color);
}

.bottom-footer {
    background: #F5F7F6;
    height: 54px;
}

@media all and (max-width: 340px) {
    .nav-bg {
        padding: 0;
    }
}

@media all and (min-width: 576px) {
    .heading {
        font-size: 34px;
        line-height: 40px;
    }
}

@media all and (min-width: 768px) {
    .collapse {
        margin-left: 78px;
    }

    #growth {
        width: 100%;
        display: flex;
    }

    .normal {
        flex-grow: 1;
    }

    .abnormal {
        flex-grow: 3;
        text-align: right;
    }
}

@media all and (min-width: 1200px) {
    .navbar-brand {
        margin-left: 120px !important;
    }

    .signup-footer img {
        position: relative;
        top: 45%;
        transform: translateY(-55%);
    }
    .heading {
        font-size: 36px;
        line-height: 40px;
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
}

.head {
    /* width: 1440px; */
    height: 597px;
    background: url('/assets/img/background.png') no-repeat;
    background-size: cover;
}

.head-back {
    background: linear-gradient( rgba(1, 2, 22, 0.8), rgba(20, 37, 106, 0.79)), url('.../assets/img/background.png') no-repeat;
    background-size: cover;
}

.head_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 180px;
}

.head_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.we_are {
    margin: 50px;
}
.section_story{
    margin:10em 0
}
.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #191919;
}

.we_are_sub {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #191919;
    padding-top: 20px;
}

.we_are_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #141212;
    padding-top: 20px;
    text-align:justify
}

.green {
    background: #B7FFB6;
}

.shift {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.num-row {
    margin: 10px;
}

.num_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    text-align: center;
    color: #191919;
}

.num_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #191919;
}

.lead_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #191919;
}

.sub-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #191919;
}

.story_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    color: #141212;
}

.story_row {
    margin: 10px;
}

.a1 {
    padding-left: 10px;
    padding-bottom: 15px;
}

.a2 {
    padding-left: 35px;
    padding-bottom: 15px;
}

.a3 {
    padding-bottom: 15px;
}

.b1 {
    height: 80px;
    width: 80px;
    margin-left: 65px;
}

.b2 {
    padding-left: 105px;
}

.b3 {
    margin-left: 100px;
}

.value_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #191919;
    margin-bottom: 15px;
}

.value_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #141212;
    margin-top: 15px;
}

img .value_image {
    height: 80px;
    width: 80px;
    /* padding-left: 60px; */
}

@media only screen and (max-width: 800px) {
    .section_story{
    margin:7em 0
}
    .shift {
        margin: 50px;
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #191919;
    }
    .we_are_sub {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #191919;
        padding-top: 20px;
    }
    .we_are_text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #141212;
        padding-top: 20px;
    }
    .num_title {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 31px;
        text-align: center;
        color: #191919;
    }
    .num_text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        color: #191919;
    }
    .story_text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 36px;
        text-align: center;
        color: #141212;
        padding-bottom: 10px;
    }
    .a2 {
        padding-left: 20px;
        padding-bottom: 15px;
    }
    .b3 {
        margin-left: 75px;
    }
    .b2 {
        margin-right: 60px;
    }
    .b1 {
        height: 80px;
        width: 80px;
        margin-left: 70px;
    }
    .story_text {
        font-family: Poppins;
        font-size: 15px;
        line-height: 36px;
        text-align: center;
        color: #141212;
        padding-bottom: 10px;
    }
    .value_title {
        font-family: Poppins;
        font-weight: bold;
        font-size: 20px;
        line-height: 18px;
        text-align: center;
        color: #191919;
        margin-bottom: 15px;
    }
    .value_text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 36px;
        text-align: center;
        color: #141212;
        margin-top: 15px;
        padding-bottom: 10px;
    }
    .lead-row{
        margin:1.5em 0
    }
    .lead_text {
        font-family: Poppins;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #191919;
    }
    .sub-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #191919;
    }
    .head_title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 47px;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
        padding-top: 280px;
    }
    .head_text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 36px;
        display: flex;
        justify-content: center;
        color: #FFFFFF;
    }
}