
.bg-soft-primary{
    background-color: #57bd8d !important;
}

.btn-primary{
    background-color: #57bd8d !important;
    border-color: #57bd8d !important;
}


.text-primary{
    color:#fff !important;
}